<nav>
  <span class="brand"><a href="/">Fanmei Wang, PhD</a></span>

  <ul class="nav-links">
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('Georgian') }}">Education</a></li>
    <li><a href="{{ url_for('publications') }}">Publications</a></li>
    <li><a href="{{ url_for('teaching_overview') }}">Teaching</a></li>
    <li><a href="{{ url_for('projects') }}">Projects</a></li>
    <li><a href="{{ url_for('presentations') }}">Presentations</a></li>
    <li><a href="#blog">Research Blog</a></li>
  </ul>
</nav>


